.about-main {
    margin: 5rem 5vw 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .about-header {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .about-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 2rem;
  }
  
  .about-content {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 100%;
  }
  