.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1000px;
    align-items: center;
    height: 70px;
    background-color: rgb(6, 17, 78);
    color: white;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-left-container a {
    text-decoration: none;
    color: white;
}

.nav-right-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.nav-right-container a {
    cursor: pointer;
    color: white;
}


.nav-main a {
    position: relative; 
    color: white;
    text-decoration: none;
    padding-bottom: 4px; 
  }
  
  .nav-main a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: white;
    transition: width 0.3s ease; 
  }
  
  .nav-main a:hover::after {
    width: 100%; 
  }



