.nav-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1000px;
    align-items: center;
    height: 70px;
    background-color: rgb(6, 17, 78);
    color: white;
    font-size: 20px;
    position: sticky;
}

.nav-left-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-right-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.linkedin a {
    cursor: pointer;
}
