@import url('https://fonts.googleapis.com/css2?family=Benne&family=Gabarito:wght@400..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Tai+Heritage+Pro:wght@400;700&display=swap');
.main {
  font-family: "Raleway", sans-serif;
  flex: 1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;       
  width: 100%;
  background-color: rgb(244, 233, 218);
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#home {
  scroll-margin-top: 200px;
}

#portfolio {
  scroll-margin-top: 175px;
}

#about {
  scroll-margin-top: 175px;
}